
.check-work-result{
    margin:8px 0px;
    width: 850px;
    display:flex;
    flex-direction:column;

    border: 1px solid rgba(0,0,0,0.1);
    padding: 3px 13px;
    border-radius: 8px;
    border-left: 6px solid rgb(16, 182, 238); 
}
p.result-text{
    font-family: 'Roboto',sans-serif;
    font-size: 20px;
}
p.more-info-result-link{
    font-family: 'Satisfy',cursive;
    font-size: 20px;
}

ul.result-list{
    list-style-type:none;
    padding: 4px 8px;

}
li.result-list-items{
    margin: 4px 0px;
    font-family:sans-serif;
    font-size:20px;
    color: red;

}